DATABASE_URL=""

JWT_USER_SECRET=""
JWT_USER_EXPIRES_IN="7d"

TMDB_API_KEY=""

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=email
SMTP_PASS=
MAIL_FROM="ESCREAM <email>"
FRONTEND_URL=http://IP:4200
