<a class="movie-card" [routerLink]="['/movies', movie.slug]" [attr.aria-label]="movie.title">
    <img class="poster" [src]="movie.image" [alt]="movie.title" loading="lazy" />
    <div class="card-overlay">
        <h3 class="movie-title">{{ movie.title }}</h3>
        <div class="movie-meta">
            <span class="year">{{ movie.year }}</span>
            <app-rating-skulls class="skulls" [rating]="movie.rating" />
        </div>
        <div class="country-div">
            <p class="sheet-val">{{ movie.country }} </p>
            <img [src]="'https://flagsapi.com/' + movie.country + '/flat/16.png'" />
        </div>
    </div>
</a>