@if (profileService.activeProfile(); as profile) {
<div class="dashboard">

    <!-- Tarjeta de usuario -->
    <div class="user-card">
        <div class="avatar">{{ profile.profileName.charAt(0).toUpperCase() }}</div>
        <h1>{{ profile.profileName }}</h1>
        <span class="role-badge">{{ auth.currentUser()?.role }}</span>

        <ul class="user-info">
            <li><span>Correo</span><strong>{{ auth.currentUser()?.email }}</strong></li>
            <li><span>Suscripción actual</span><strong>{{ planName() }}</strong></li>
            <li>
                <span>Estado</span>
                <strong>{{ auth.currentUser()?.subscribed ? 'Activa' : 'Inactiva' }}</strong>
            </li>
            @if (auth.currentUser()?.endDate) {
            <li>
                <span>Renovación</span>
                <strong>{{ auth.currentUser()?.endDate | date: 'dd/MM/yy' }}</strong>
            </li>
            }
        </ul>

    </div>

    <div class="user-actions">
        <button class="logout-btn">Guardar cambios</button>
        <button class="logout-btn">Borrar perfil</button>
    </div>
</div>
}