.skeleton-card {
    border-radius: 1.2rem;
    padding: 22px;
    display: grid;
    gap: 2rem;
    padding: 2rem;
    width: 380px;
    background: linear-gradient(180deg, #180a31 0%, #0D0DFF 100%);
    border: 4px solid #000000;
    box-shadow:
        0 6px 18px rgba(0, 0, 0, 0.7),
        0 0 25px rgba(47, 47, 255, 0.45);
}




.skeleton-image {
    width: auto;
    height: 200px;
    border-radius: 0.8rem;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0.05) 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

.skeleton {
    height: 16px;
    border-radius: 8px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0.05) 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

.title {
    width: 100%;
}

.line {
    width: 70%;
}



@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}