
footer {
  background: linear-gradient(360deg, #160435 30%, #2F2FFF 140%);
  border-top: 2px solid var(--color-accent3);
  color: var(--color-text);
  text-align: center;
  padding: 1.5rem 1rem;
  margin-top: auto;
  position: relative;
  overflow: hidden;
}

footer p {
  font-size: 0.9rem;
  color: var(--color-text);
  opacity: 0.8;
}

footer a {
  color: var(--color-accent2);
  margin:8px;
  transition: color 0.8s;
}

footer a:hover {
  color: var(--color-accent1);
  text-shadow: 0 0 10px var(--color-hover);
  filter: drop-shadow(0 0 12px var(--color-accent1));
}