<button class="filter-button" (click)="toggleFilter()">Búsqueda avanzada</button>

@if (showFilter) {
<div class="filter-menu" [@filterMenuAnimation]>
    <app-movies-filter [countries]="countries" [subgenres]="subgenres" [yearRangeLimits]="yearRangeLimits">
    </app-movies-filter>
</div>
}

<div class="movies-container">
    @for (movie of paginatedMovies; track movie.id){
    <div class="movie-card" [routerLink]="['/movies', movie.slug]" (click)="goToMovieDetail(movie.slug)">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <ul class="movie-details">
            <li><strong>Año:</strong> {{ movie.year }}</li>
            <li><strong>Valoración:</strong> {{ movie.rating }}</li>
            <li><strong>País:</strong> {{ movie.country }}</li>
        </ul>
        <div class="movie-image">
            <img [src]="movie.image" [alt]="movie.title" />
        </div>
    </div>
    } @empty{
    @for (s of skeletons; track $index) {
    <app-skeleton-loader></app-skeleton-loader>
    }
    }
</div>
<div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ lastPage }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === lastPage">Siguiente</button>
    <!-- <span>{{perPage}}</span> -->
</div>